<!--%import("js/layout.js")-->
<!--%import("css/layout.css")-->
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/fonts/fonts-min.css"> 
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menu.css"> 
<!--%import("http://yui.yahooapis.com/2.9.0/build/yahoo-dom-event/yahoo-dom-event.js")-->
<!--%import("http://yui.yahooapis.com/2.9.0/build/container/container_core-min.js")--> 
<!--%import("http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js")-->
<script src="./js/jquery.min.js"></script>

<script type="text/javascript">
	$("body").addClass("yui-skin-sam");
	
	YAHOO.util.Event.onDOMReady(function () {
 
	//	Instantiate a MenuBar, passing in the id of the HTML element 
	//	representing the MenuBar.
 
    var oMenuBar = new YAHOO.widget.MenuBar("mymenubar",{
    	autosubmenudisplay: true 
    });
 
 
    // Render the MenuBar instance

 	$("#mymenubar").css("border","none");
 	$("#mymenubar").css("background","none");
 	$("#mymenubar").css("height","37px");
 	$(".yuimenubaritemlabel").css("border","none");
 	$(".yuimenubaritemlabel").css("height","33px");
 	$(".yuimenubaritemlabel").css("padding-top","6px");

    oMenuBar.render();
 
});

 

</script>


<div id="layoutSiteMain" class="yui-skin-sam" id="yahoo-com">

	<div id="layoutHeader" class="header">
		<div class="logo"><img src="./images/admin_logo.png" /></div>
				
		<div class="gnb">
			<div id="mymenubar" class="yuimenubar">
			    <div class="bd" style="border:0px;">
			        <ul class="first-of-type">
			            <li class="yuimenubaritem first-of-type">
			 
			                <a class="yuimenubaritemlabel" href="#store">음식점 관리</a>
			 
			                <div id="store" class="yuimenu">
			                    <div class="bd">
			                        <ul>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispDocumentAdminStoreList','','')}">음식점 목록</a>
			                            </li>
			                            <li class="yuimenuitem">
			                            	<a class="yuimenuitemlabel" href="{getUrl('','layout','shop','mid','restaurant_list','act','dispBoardWrite','','')}" target="_blank">음식점 등록</a>
			                            </li>
			                        </ul>
			                    </div>
			                </div>      
			 
			            </li>
			            <li class="yuimenubaritem">
			 
			                <a class="yuimenubaritemlabel" href="#foodMenu">음식메뉴 관리</a>
			 
			                <div id="foodMenu" class="yuimenu">
			                    <div class="bd">
			                        <ul>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispDocumentAdminFoodList','','')}">음식메뉴 목록</a>
			                            </li>
			                            <li class="yuimenuitem">
			                            	<a class="yuimenuitemlabel" href="{getUrl('','layout','shop','mid','food_list','act','dispBoardWrite','','')}" target="_blank">음식메뉴 등록</a>
			                            </li>
			                        </ul>
			                    </div>
			                </div>    
			 
			            </li>
			            <li class="yuimenubaritem first-of-type">
			 
			                <a class="yuimenubaritemlabel" href="#member">회원 관리</a>
			 
			                <div id="member" class="yuimenu">
			                    <div class="bd">
			                        <ul>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMemberAdminYamnyamList','','')}">회원 목록</a>
			                            </li>
		                            	<li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispPointAdminPointListYamnyam','','')}">포인트 관리</a>
			                            </li>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMemberAdminJoinFormListYamnyam','','')}">가입폼 관리</a>
			                            </li>
			                        </ul>
			                    </div>
			                </div>      
			 
			            </li>
			            <li class="yuimenubaritem first-of-type">
			 
			                <a class="yuimenubaritemlabel" href="#order">주문 관리</a>
			 
			                <div id="order" class="yuimenu">
			                    <div class="bd">
			                        <ul>
			                        	<li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMemberAdmindeliverStatus','','')}">현재 주문 목록</a>
			                            </li>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispDocumentAdminOrderList','','')}">주문 목록</a>
			                            </li>
		                            	<li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMemberAdminSalesGraph','','')}">주문 통계</a>
			                            </li>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMemberAdmindeliverPath','','')}">배달 경로 추천</a>
			                            </li>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMemberAdmindeliverGraph','','')}">배달 지역 분석</a>
			                            </li>
			                        </ul>
			                    </div>
			                </div>      
			 
			            </li>
			            <li class="yuimenubaritem first-of-type">
			 
			                <a class="yuimenubaritemlabel" href="#event">이벤트 관리</a>
			 
			                <div id="event" class="yuimenu">
			                    <div class="bd">
			                        <ul>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispDocumentAdminEventList','','')}">진행중인 이벤트</a>
			                            </li>
		                            	<li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispDocumentAdminEventNew','','')}">새 이벤트</a>
			                            </li>
		                            	<li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispDocumentAdminSocial','','')}">소셜커머스 관리</a>
			                            </li>
			                        </ul>
			                    </div>
			                </div>      
			 
			            </li>
			            <li class="yuimenubaritem first-of-type">
			 
			                <a class="yuimenubaritemlabel" href="#promotion">홍보 관리</a>
			 
			                <div id="promotion" class="yuimenu">
			                    <div class="bd">
			                        <ul>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMail_m9AdminConfig','','')}">전체 E-Mail 보내기</a>
			                            </li>
		                            	<li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMsg_adminAdminInsert','','')}">전체 쪽지 보내기</a>
			                            </li>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','today_menu_list')}" target="_blank">오늘의 식단</a>
			                            </li>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispLayoutAdminBannerModify','','')}">메인로고 및 베너 관리</a>
			                            </li>
			                        </ul>
			                    </div>
			                </div>      
			 
			            </li>
			            <li class="yuimenubaritem first-of-type">
			 
			                <a class="yuimenubaritemlabel" href="#sms">SMS 관리</a>
			 
			                <div id="sms" class="yuimenu">
			                    <div class="bd">
			                        <ul>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMobilemessageAdminListYamnyam','','')}">SMS 보내기</a>
			                            </li>
			                            <li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="{getUrl('','mid','shop','act','dispMobilemessageAdminLogViewYamnyam','','')}">SMS 내역보기</a>
			                            </li>
		                            	<li class="yuimenuitem">
			                                <a class="yuimenuitemlabel" href="http://www.coolsms.co.kr/chg/" target="_blank">SMS 충전하기</a>
			                            </li>
			                        </ul>
			                    </div>
			                </div>      
			 
			            </li>
			         </ul>
			    </div>
			</div>    

		</div>
		
	</div>
		
	<div id="layoutBody" class="body">
		<div class="content">{$content}</div>
	</div>
		
	<div id="layoutFooter" class="footer">
		<div id="divBottomMenu">
		</div>
		<div id="divCopyright">
		</div>
	</div>
	

	
	
</div>

<div id="boxes">
    <div id="divLogin" class="window">
        <div class=".windowHeader" style="text-align:right; margin-top: 17px; margin-right: 18px;">
 			<a href="#" class="close"><img src="images/button_close.png" /></a>
        </div>
        <div class=".windowBody">
        	<img widget="login_info" skin="yamNyam_login" />
        </div>
        <div class=".windowFooter">
 		</div>
    </div>
 
    <div id="mask"></div>
</div>

