.search_wrap{
	background: #ececec;
	padding: 5px;
	width:100%-16px;
	height:30px;
	text-align: center;
	color: white;
	border-bottom: 1px solid #bbb;
}

.search_input{
	width:40%;
	height:18px;
	border: 3px solid #0074bd;
}

.btSearch{
	background-image: url('../images/bg_title.png');
	padding:5px 15px;
	text-align: center;
	font-size:12px;
	border:1px solid #004480;
}

#divAlignOrder{
	padding: 3px 5px;
	border-bottom: 1px solid #bbb;
	height: 20px;
}

.alignItem{
	height:20px;
	font-size: 10px;
	color:#999;
	padding: 0 3px;
}

