A:link {color:black;}
A:visited {color:black;}
A:active{color:black;}
A:hover {color:black;}
body {
	font-size:11px;
}
#yamNyamMobileMain{
	width:100%;
}
#divWrapper {
			/* Of course you need to specify the object height */
 
	position:relative;	/* On older OS versions "position" and "z-index" must be defined (absolute | relative), */
	z-index:1;			/* it seems that recent webkit is less picky and works anyway. */
 
	width:100%;
	background:#aaa;
	overflow:hidden;
}
 
#scroller {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
 	width:100%;
	padding:0;
	margin-bottom: 70px;

/*	-webkit-box-shadow:0 0 8px #555;	/* Don't use box shadows, they slow down drastically CSS animations */
}


#scroller_cart {
/*	-webkit-touch-callout:none;*/
	-webkit-tap-highlight-color:rgba(0,0,0,0);
 	width:100%;
	padding:0;
	margin-bottom: 70px;

/*	-webkit-box-shadow:0 0 8px #555;	/* Don't use box shadows, they slow down drastically CSS animations */
}

#divLogo{
	color: white;
	width: 100%-36px;
	height: 28px;
	padding: 10px 18px;
	background-image: url('../images/bg_logo.png');
}

#divLogo .bt{
	background-image: url('../images/button1.png');
	width: 42px;
	height: 10px;
	padding:5px 0;
	text-align: center;
	float: right;
	font-size: 8px;
	color:white;
	margin-left:10px;
}

#divMenu{
	width: 100%-16px;
	height: 64px;
	padding: 8px;
	background-image: url('../images/bg_menu.png');
	text-align: center;
}

.menuIcon{
	float:left;
	color:black;
	font-size: 10px;
	text-align: center;
	margin:0 3px;
}

#divTitle{
	width:100%-16px;
	height: 18px;
	background-image: url('../images/bg_title.png');
	color: white;
	padding: 8px;
	font-size: 12px;
}

	#divMenuCursor {
		width:12px;
		height: 6px;
		background-image: url('../images/menu_cursor.png');
		position: absolute;
		margin-top:-8px;
	}

#yamNyamMobileBottomMenu{
	padding-bottom: 100px; /* padding을 안주면 밑부분 짤림 */
}

#wrapper{
 	width:100%;
	padding: 0px;
}

#wrapper_cart{
 	width:100%;
	padding: 0px;
}

#yamNyamMobileContent{
	margin: 0px;
	padding: 0px;
}


.ui-content .ui-listview { margin:0px;}