@charset "utf-8";

.contentView {width:749px; overflow:hidden; margin-bottom:40px; border:0px none; border-color:#999; background-image: url('../images/contentview_background.png'); background-repeat: no-repeat; background-position: top center; padding-top: 60px;}
.order_confirm_alert {background-image: url('../images/order_confirm_alert.png'); width:255px; height:40px; float:left; margin:10px 0 20px 246px;}

.contentView .divWrapContent {width:90%; border:1px solid #ccc; overflow: hidden; margin-top: 5px; background: #fff; margin-bottom: 10px; margin:0 auto; }
.contentView .tableContent {border: 0; background: white; margin: 0 auto; margin-top:20px; width: 95%; border-collapse: collapse;}
.contentView .tableContent th {border:0; border-top:2px solid #e1e1e1; border-bottom:2px solid #e1e1e1; text-align: center; background: #fcfcfc;}
.contentView .tableContent td {text-align: center; border-bottom:1px solid #e1e1e1;}
.contentView .tablePayment {border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1; margin: 20px auto; width: 95%; border-collapse: collapse; }
.contentView .tablePayment td {text-align: center; padding: 5px; border-bottom: 1px solid #e1e1e1;}
.contentView .tablePaymentTotal {border-top: 2px solid #006ec3; border-bottom: 2px solid #006ec3; background: #fcfcfc; margin:0 auto; margin-top: 20px; width: 300px; border-collapse: collapse;}
.contentView .tablePaymentTotal td {text-align: center;padding : 10px;}
.contentView .tableAddressSelect {border-top: 1px solid #e1e1e1; margin: 20px auto; width: 90%; border-collapse: collapse; }
.contentView .tableAddressSelect td { padding: 5px;}
.thumb {border: 1px #aaa solid; padding: 3px; margin: 5px;}
img {vertical-align: middle;  }
 
/* 장바구니 */
#divCart2 { float:left; width:200px; border:1px solid #b8b8b8; padding:10px; z-index:50; background-image: url('../images/bill_top_background.png'); background-repeat: repeat-x; background-color: #fff; margin-right:9px;}
#divCart2 .divOrder { float:left; text-align:left; position:relative; margin-top:10px; }
#divCart2 td { border:0px; }
#divCart2 .divOrderTitle { float:left; width:160px; height:58px; background-image: url('/~yamnyam/layouts/yamnyam_layout/images/bill_top_title.png'); margin-top:0px;}
#divCart2 .divOrderToolbar { float:left; width:188px; height:16px; text-align:right; margin-top:10px; margin-bottom:5px; padding:8px 5px 5px 5px; border:1px solid #ccc; display:none; }
#divCart2 .divOrderToolbarLeft { float:left; width:50px; text-align:left; }
#divCart2 .divOrderToolbarRight { float:right; width:120px; }
#divCart2 .divOrderGuide { border:1px solid #999; padding:5px; background-color:#eee; margin-bottom: 8px; text-align:right; margin-top: 5px; }
#divCart2 .divOrderButton { margin-top:15px; margin-bottom:-35px; text-align: center;}
#divCart2 .fixingCart { float:right; width:40px; height:50px; cursor:pointer; background-image:url('/~yamnyam/modules/board/skins/yamnyam_foodlist/images/unpin.png'); margin-right: -10px; margin-top:-35px; background-repeat: no-repeat; background-position: left;}
#divCart2 .fixingText { width:50px; text-align:right; font-size:11px; color:#aaa; float:right; }
#divCart2 .divOrderStatus {float:left;}
#divCart2 .divStoreContent{ position: relative; overflow: auto;}

#divCart2 hr {width:100%; height:1px;  border:0px; border-bottom: 1px dashed #999; }
#divCart2 .product_name {width: 110px; float: left;}
#divCart2 .product_price {width: 55px; height:16px; float: left; text-align: right;}
#divCart2 .product_amount {width: 35px; float: left; text-align: right;}
#divCart2 td{padding: 0px}

#divCart2 .product_name a {display: none;}


#divCart { left: -10px !important; }
#divCart .product_name a {display: none;}
#divCart .divOrderToolbar { float:left; width:188px; height:0px; text-align:right; margin-top:0px; margin-bottom:0px; padding:0px; border:1px solid #ccc; display:none; }
#divCart .divOrder { float:left; text-align:left; position:relative; margin-top:10px !important; }

.board_list{width:670px;}
.order_list_table{margin:0 auto; width:670px;}
.wrap_order_list{background-image:url('../images/mypage_orderlist.png'); width:670px; height:46px; margin:10px auto; margin-top:30px;}

.board_list th{ border-top:1px solid #cfcfcf; border-bottom:1px solid #e5e5e5;}
.board_list th:first-child{ background-color: #fcfcfc;}
.board_list td{ border-bottom:1px solid #e1e1e1; text-align:center;}

.pagination {text-align:center; margin:10px;}
.board_search {text-align:center; margin:10px;}
.read_header{width:670px; margin:0 auto;}
.read_body{width:670px; margin:0 auto;}

.orderlist{width:670px; text-align:center;}
.orderlist td{}

.orderlist_1{width:670px; text-align:center; margin-top:10px; margin-bottom:10px; border-top:2px solid #e1e1e1; margin-bottom: 30px;}
.orderlist_1 td, th{ border-bottom:1px solid #e1e1e1; border-right:1px solid #e1e1e1; vertical-align: middle; padding: 5px 0;}
.orderlist_1 th { background:#fcfcfc;}

.orderlist_2{width:670px; text-align:center; margin-top:10px; margin-bottom:10px; border-top:2px solid #e1e1e1; margin-bottom: 30px;}
.orderlist_2 td, th{ border-bottom:1px solid #e1e1e1; border-right:1px solid #e1e1e1; vertical-align: middle; padding: 5px 0;}
.orderlist_2 th { background:#fcfcfc;}

.orderlist_3{width:670px; text-align:center; margin-top:10px; margin-bottom:10px; border-top:2px solid #e1e1e1; margin-bottom: 30px;}
.orderlist_3 td, th{ border-bottom:1px solid #e1e1e1; border-right:1px solid #e1e1e1; vertical-align: middle; padding: 5px 0;}
.orderlist_3 th { background:#fcfcfc;}

#map_canvas{width:670px; height:400px; margin:0 auto; margin-bottom:10px; border:1px solid #ccc;}