.divWrap { width:962px; margin:0 auto; background-image: url('../images/background.png'); background-repeat: no-repeat; background-position: top; padding-top: 20px;}

.divWrap .policy_title 	{ width:221px; height:27px; background-image: url('../images/title_policy.png'); margin-left:40px; margin-bottom:10px; }
.divTop	{ background-image: url('../images/background_top.png'); background-repeat: no-repeat; width:922px; height:130px; margin:0 auto; float: none; background-color: white;}
.divTop .divMenuWrap	{ float:none; padding: 1px 0 0 0; height:130px; text-align: center;}
.divTop .divMenuWrap .menu_policy { width:121px; height:115px; margin:0 auto; border: 0px none;}
.divTop .divMenuWrap .menu_privacy {width:121px; height:115px; margin:0 auto; border: 0px;}
.divMiddle { margin: -24px 20px 0px 20px; background-color: white; border-left: #e1e1e1 solid 1px;border-right: #e1e1e1 solid 1px; padding: 20px 100px;}
.divMiddle textarea { width: 670px; height: 500px; margin-top:30px; border: 0 none; line-height: 2.0em; font-size:8pt; resize:none; }
.divMiddle .middle_img { margin-left:25px; }
.divBottom { background-image: url('../images/background_bottom.png'); background-repeat: no-repeat; width:922px; height:40px; margin:0 auto; float: none; background-color: white;}
.user_info{border:1px solid #e1e1e1; width:300px;}
.button_wrap { text-align:center; }

.divWrap .use_title { width:193px; height:27px; background-image: url('../images/use_top.png'); margin-left:40px; margin-bottom:10px; }
.divWrap .alliance_title { width:193px; height:27px; background-image: url('../images/alliance_top.png'); margin-left:40px; margin-bottom:10px; }
.use_mid {width:669px; height:46px; background-image:url('../images/use_mid.png'); margin:0 auto; margin-bottom:10px;}
.order_step { width:920px; height:47px; margin-left:-100px; margin-top:40px; margin-bottom:20px; }
.order_step_2 { width:920px; height:47px; margin-left:-100px; margin-top:40px; margin-bottom:20px; }
.order_step_3 { width:920px; height:47px; margin-left:-100px; margin-top:40px; margin-bottom:20px; }
.order_step_4 { width:920px; height:47px; margin-left:-100px; margin-top:40px; margin-bottom:20px; }
.pre_button { margin-left:130px; margin-top:-38px; }
.next_button { margin-left:740px; margin-top:-28px; }
.alliance_mid {width:670px; height:46px; background-image:url('../images/alliance_mid.png'); margin:0 auto; margin-bottom:10px;}
.subTitle_policy {width:668px; height:46px; background-image:url('../images/subTitle_policy.png'); margin:0 auto; margin-bottom:10px;}
.subTitle_privacy {width:668px; height:46px; background-image:url('../images/subTitle_privacy.png'); margin:0 auto; margin-bottom:10px;}
.use_contents_img {margin-left:55px; margin-bottom:20px;}
.contents_title { margin-left:-0px; margin-bottom:20px; }
.contents_title_step_3 { margin-left:-85px; }
.use_contents_img_step_3 {margin-left:-40px; margin-top:10px; margin-bottom:10px; }
.use_contents_img_step_4 {margin-left:-40px; margin-top:10px; margin-bottom:10px; }
.alliance {width:670px; margin:0 auto;}
.policy {width:668px; margin:0 auto;}
.privacy {width:668px; margin:0 auto;}

