.number{color:#999; font-size: 14px;font-weight: bold;}
.restaurant_name{
border-bottom:1px solid #aaa;background-image: url('../img/bg_cart_sub.png');
color:white;
}
.radio_cash, .radio_card{width:50%;float:left;text-align:center;padding-top:10px;padding-bottom:10px;background:#ccc}