.today_menu_header { margin-left:5px; }
.contents_box { width:960px; padding-left:20px; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; }

.menu_top { margin-top:-3px; background-image: url('../images/menu_background_top.png'); width:982px; height:20px}
.fill_blank		{ background-image: url('../images/menu_background_middle.png'); width:980px; height:50px; border-left:1px solid #d5d5d5; border-right:1px solid #d5d5d5; margin-top:-15px;}
.menu_footer { background-image: url('../images/menu_background_bottom.png'); width:982px; height:20px; margin-left:0px; margin-top:0px;}
.menu_ { /*background-image: url('../images/menu_background.png');*/ background-repeat:no-repeat; margin-top:-4px; margin-left:43px; height:254px;}
.forbackground { background-image:url('../images/menu_background_middle.png'); width:980px; margin-left:-20px; margin-top:-15px; height:488px;}
.menu_ h3 { margin-left:-20px; }
.lower_content { margin-left:-42px; margin-top:195px; position:absolute; background:#fff; height:234px; width:976px; z-index:1}
.upper_content { margin-top:-195px; margin-left:18px; position:relative; background-image: url('../images/menu_background.png'); background-repeat:no-repeat;  height:254px; z-index:2;}